.blog{
    background-color: $red;
    position: relative;
    .container{
        background-color: $red;
    }
    .heading,
    .subhead{
        color: $white;
    }
    .heading{
        margin-top: 85px;
    }
    .subhead{
        margin-bottom: 60px;
    }
    &__video-list{
        display: grid;
        row-gap: 20px;
        column-gap: 30px;

        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 142px);

        margin-bottom: 175px;
    }
    &__video-item{
        border-radius: 15px;
        background-color: $darkBlue;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        position: relative;
        
        .video-preview_content{
            font-family: $text_bold;
            font-size: 24px;
            line-height: 140%;
            color: $white;
            width: 100%;
            padding: 22px 0;
            padding-left: 34px;
            background: rgba(0, 0, 0, 0.5);
        }

        &.main-video{
            background-image: url("../assets/img/blog/video_preview.png");
            background-repeat: no-repeat;
            background-size: cover;

            grid-row: 1/4;
            grid-column: 1/10;
        }
        &:nth-child(2){
            grid-row: 1/2;
            grid-column: 10/13;
        }
        &:nth-child(3){
            grid-row: 2/3;
            grid-column: 10/13;
        }
        &:nth-child(4){
            grid-row: 3/4;
            grid-column: 10/13;
        }
    }

    &:before{
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 85px;
        background: url("../assets/img/digital_top-bg.svg"), url("../assets/img/digital_top-bg_sub.svg");
        background-repeat: repeat no-repeat;
        background-position: left bottom, left top;
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 85px;
        background: url("../assets/img/digital_top-bg_sub.svg"), url("../assets/img/digital_top-bg.svg");
        background-repeat: repeat no-repeat;
        background-position: left bottom, left top;
    }
}


@media screen and (min-width: 320px) and (max-width: 768px){
    .blog{
        .heading{
            margin-top: 60px;
            margin-bottom: 15px;
        }
        .subhead{
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__video-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 145px;
        }
        &__video-item{
            width: 100%;
            max-width: 315px;
            max-height: 177px;
            height: 180px;
        }
        .video-preview_content{
            font-size: 12px;
            padding: 7px 0;
            padding-left: 12px;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .blog{
        .subhead{
            max-width: 515px;
            margin-left: auto;
            margin-right: auto;
        }
        &__video-list{
            max-height: 305px;
            grid-template-columns: auto;
            grid-template-rows: auto;
            padding: 0;
            max-width: 720px;
            margin: 0 auto;
            margin-bottom: 175px;
        }
        &__video-item{
            width: 150px;
            max-height: 88px;
            grid-row:unset;
            grid-column: unset;

            &.main-video{
                min-width: 543px;
                min-height: 305px;
                
            }
            .video-preview_content{
                font-size: 16px;
                padding: 14px 0;
                padding-left: 34px;
            }            
        }
    }
}