.digital{
    background-image: url("../assets/img/digital_bg.png");
    min-height: 1325px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    
    .button{
        margin-bottom: 150px;
    }
    &__map{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        height: 100%;

        img{
            height: 100%;
            
        }
    }

    .populary-list,
    .populary,
    .facility,
    .populary-list__item,
    .facility__item,
    .digital__heading{
        padding: 0;
    }

    .facility{
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 68px;

        &__item{
            color: $white;
            font-family: $text_bold;
            align-items: center;
            &_image-wrap{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                border: 1px solid rgba(255,255,255, .5);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;

                .facility__item-image{
                    opacity: .5;
                }
            }
            &-header{
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 8px;
            }
            &-text{
                font-size: 24px;
                line-height: 24px;
            }
        }
    }
    .heading{
        color: $white;
    }
    &__heading{
        font-size: 22px;
        font-family: $text_bold;
        color: $white;
    }
    &__sub-heading{
        font-family: $text;
        font-size: 16px;
        color: $white;
    }
    .container{
        background: none;
        margin-top: 60px;
    }
    &::before,
    &::after{
        display: block;
        width: 100%;
        height: 85px;
        content: '';
        z-index: 9999;
    }
    &::before{
        background: url("../assets/img/digital_top-bg.png") 0 0 no-repeat,
        url("../assets/img/digital_top-bg_sub.png") 0 0 no-repeat;
        position: relative;
    }
    &::after{
        background: url("../assets/img/digital_top-bg_sub.png") 0 0 no-repeat,
        url("../assets/img/digital_top-bg.png") 0 bottom no-repeat;
        position: absolute;
        bottom: 0;
    }
    .adress{
        position: relative;

        &__list{
            min-height: 72px;
            max-height: 435px;
            width: 100%;
            position: absolute;
            overflow-y: scroll;
            z-index: 9999;
            background: #E0E0E0;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        &__item{
            display: flex;
            padding: 25px 16px;
            cursor: pointer;
            transition: .15s ease;
            background: $white;
            border-bottom: 2px solid #efefef;
            align-items: center;

            &:last-child{
                border:none;
            }

            &:hover{
                background: $red;

                .adress__city{
                    color: $white;

                    &:before{
                        background-image: url('../assets/img/icons/map_placemark_white.svg');
                    }
                }
                .adress__street{
                    color: $white;
                    opacity: .5;
                }
            }
        }
        &__city,
        &__street,
        &__shopping-center{
            font-family: $text_bold;
            font-size: 22px;
            line-height: 100%;
            margin-left: 15px;
        }

        &__city{
            color: $grey;
            margin-left: 0;
            display: flex;
            align-items: center;

            &:before{
                content: '';
                width: 14px;
                height: 20px;
                background-repeat: no-repeat;
                display: inline-block;
                background-size: contain;
                margin-right: 16px;
                background-image: url('../assets/img/map_placemark.svg');
            }
        }
        &__street{
            color: #ababab;
        }
        &__shopping-center{
            color: #cccccc;
        }

        &-current{
        border-bottom: 2px solid rgba(255,255,255,.25);
        padding-bottom: 19px;
        margin-top: 49px;
        align-items: center;
        cursor: pointer;

            &::before{
                content: '';
                margin-left: 25px;
                width: 20px;
                height: 20px;
                background-image: url("../assets/img/map_placemark.svg");
                background-repeat: no-repeat;
            }
            &::after{
                content: '';
                background-image: url("../assets/img/angle_down.svg");
                width: 12px;
                height: 12px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: auto;
                margin-right: 25px;
            }
            &__city,&__street{
                font-family: $text_bold;
                color: $white;
                font-size: 22px;
                line-height: 100%;
            }
            &__street{
                opacity: .5;
            }
        }
    }
    .populary{
        &-list{
            margin-top: 30px;
            margin-bottom: 60px; 
            justify-content: space-between;
        }

        &__item{
            background-color: #fff;
            border-radius: 15px;
            padding:17px 15px;
            max-width: 255px;
            min-height: 98px;
            display: flex;
            justify-content: flex-start;
        }
        &__image-wrap{
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: $red;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__header{
            font-size: 16px;
            line-height: 24px;
            color: $grey;
            font-family: $text_bold;
        }
        &__text{
            font-size: 32px;
            line-height: 100%;
            color: $grey;
            font-family: $text_bold;
            margin-top: 8px;
        }
        &__content{
            margin-left: 10px;
        }
    }
    .count{
        padding: 0;
        margin-bottom: 60px;

        &__wrapper{
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin-top: 30px;
        }
        &__item{
            width: 100%;
            max-width: 80px;
            height: 112px;
            border-radius: 15px;
            background-color: $white;
            
            display: flex;
            align-items: center;
            justify-content: center;

            font-family: $text_bold;
            font-size: 64px;
            color: $grey;
        }
    }
    .gallery{
        margin-bottom: 60px;
    }
        
        ::-webkit-scrollbar-track {
            background-color:transparent;
            border-radius: 6px;
            width: 8px;
        }
        
        ::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background-color:#666666;
        }
        
        ::-webkit-resizer{
            background-image:url('');
            background-repeat:no-repeat;
            width:8px;
            height:0px
        }
        
        ::-webkit-scrollbar{
            width: 8px;
            border-radius: 6px;
        }
}

@media screen and(min-width: 320px) and (max-width: 540px) {
    .digital{
        background-image: none;
        background-color:$darkBlue;
    
        .adress{
            max-width: 315px;
            margin: 0 auto;

            &__city{
                font-size: 12px;
                white-space: nowrap;
            }
            &__street,
            &__shopping-center{
                font-size: 10px;
            }
            &__street,
            &__shopping-center,
            &__city{
                margin-left: 8px;
                line-height: 140%;
            }

            &-current{
                padding-bottom: 18px;

                &__city{
                    font-size: 14px;
                }
                &__street{
                    font-size: 12px;
                    margin-right: 17px;
                }

                &::before{
                    margin-left: 0;
                }
                &::after{
                    margin-right: 0;
                }
            }
        }

        .facility{
            max-width: 315px;
            margin-bottom: 30px;

            &__item{
                margin-bottom: 23px;
            }
        }

        .populary{
            max-width: 315px;
            margin: 0 auto;
            &-list{
                max-width: 255px;
                margin: 0 auto;
                margin-top: 15px;
                margin-bottom: 30px;
            }
            &__item{
                margin-bottom: 15px;
            }
        }
        .count{
            max-width: 315px;
            margin: 0 auto;
            margin-bottom: 30px;
            &__item{
                width: 32px;
                height: 48px;
                border-radius: 8px;
                font-size: 24px;
            }
        }

        &__heading{
            font-size: 16px;
        }
        &__sub-heading{
            font-size: 12px;
        }
    }
}