.franchise{
    &:after{
        content: '';
        background-image: url("../assets/img/digital_top-bg.svg");
        background-repeat: repeat no-repeat;
        background-position-y: bottom;
        width: 100%;
        height: 69px;
        display: block;
    }
    &__item{
        width: 100%;
        max-width: 445px;
        position: relative;
        margin-bottom: 150px;
        &:nth-child(2n),
        &:nth-child(5){
            margin-left: 125px;
        }
    }
    .subhead{
        margin-bottom: 120px;
    }
    &__number{
        color: $lightGrey;
        font-size: 164px;
        position: absolute;
        font-family: $text_bold;
        left: -66px;
        top: -103px;
        
    }
    &__link{
        // text-transform: lowercase;
        color: $red;
        font-family: $text_black;
        font-size: 16px;
        line-height: 100%;
        margin-top: 32px;
        display: flex;
        cursor: pointer;
        align-items: center;
        &:after{
            content: '';
            display: inline-block;
            background-image: url('../assets/img/icons/arrow_right.svg');
            background-size: cover;
            width: 15px;
            height: 14px;
            margin-left: 15px;
            background-repeat: no-repeat;
        }
    }
    &__slogan{
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.38em;
        text-transform: uppercase;
        color: $red;
        font-family: $text_bold;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        &:before{
            content: '';
            margin-right: 12px;
            width: 30px;
            height: 1px;
            background-color: $red;
            display: inline-block;
        }
    }
    &__heading{
        color: $grey;
        font-size: 36px;
        line-height: 100%;
        font-family: $text_bold;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
    }
    &__list{
        &__item{
            color: $grey;
            font-size: 16px;
            line-height: 140%;
            position: relative;
            font-family: $text;
            margin-bottom: 12px;
            padding-left: 24px;

            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 8px;
                width: 8px;
                border-radius: 50%;
                height: 8px;
                background-color: $lightRed;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .franchise{
        h2.heading{
            max-width: 540px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        .subhead{
            text-align: center;
        }
        &__item{
            padding: 0 !important;
            max-width: 350px !important;
            
            &:nth-child(2n){
                margin-left: 0;
            }
            &:nth-child(5){
                margin: 0 auto;
                margin-bottom: 60px;
            }
        }
        &__heading{
            font-size: 30px;
        }
        &__number{
            left: initial;
            right: 50px;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .franchise{
        .container{
            max-width: 350px;
        }
        .subhead{
            font-size: 16px;
        }
        &__item{

            &:nth-child(2n),
            &:nth-child(5){
                margin-left: 0;
                margin-bottom: 60px;
            }

            margin: 0;
            &:not(:last-child){
            margin-bottom: 120px;

            }
        }
        &__number{
            left: initial;
            right: 50px;
        }
        &__slogan{
            font-size: 12px;
        }
        &__heading{
            font-size: 30px;
        }
    }
}