.header-gallery{
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    margin-top: 60px;

    .gallery_img{
        width: 100%;
        max-width: 20%;
    }
}

@media screen and (max-width: 1366px){
    .header-gallery{
        display: flex;
        justify-content: space-between;
        column-gap: 5px;
        margin-top: 60px;

        .gallery_img{
            width: 100%;
            max-width: 425px;
        }
    }
}

@media screen and (max-width: 540px){
    .header-gallery{
        .gallery_img{
            min-width: 100%;
        }
    }
}