@import "./menu";
@import "./tabs";

.burger{
    height: 19px;
    cursor: pointer;
    &__stick{
        width: 20px;
        height: 2px;
        background-color: $black;
        border-radius: 5px;
    }
    &:before,
    &:after{
            content: '';
            width: 29px;
            height: 2px;
            background-color: $black;
            border-radius: 5px;
            display: block;
        }
}


.header{
    margin-top: 32px;
    &_content-wraper{
        margin-top: 72px;
    }
    .navigation{
        &__link{
            margin-right: 60px;

            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__content{

        &-heading{
            font-size: 72px;
            line-height: 100%;
            color: $darkBlue;
        }
        &-text{
            font-family: $text_bold;
            font-size: 20px;
            margin-top: 15px;
        }
        .button{
            margin-top: 60px;
        }
    }

    .social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__link{
            &.phone{
                font-family: $text_bold;
                font-size: 17px;
                color: $red;
            }
            margin-right: 30px;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .header{
        .social{
            justify-content: flex-end;
            &__link{
                &.phone{
                    display: none;
    
                }
            }
        }
        &__content-heading{
            font-size: 62px;
            text-align: center;
        }
        &__content-text{
            font-size: 16px;
            font-family: $text;
            text-align: center;
            margin: 8px 0 30px 0;
            max-width: 315px;
        }
        &_content-wraper{
            flex-direction: column;
            align-items: center;
        }
        .tabs{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
    }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .header{
        &__content{
            &-heading{
                font-size: 36px;
                text-align: center;
            }
            &-text{
                font-family: $text;
                font-size: 16px;
                text-align: center; 
            }
        }
    }
}