.henkali_is{
    .container{
        background-image: url("../assets/img/henkaly_is-bg.png");
        background-repeat: no-repeat;
        background-position: top right;
    }
    .content{
        &__text{
            font-family: $text;
        }
    }
}