.feedback_modal{
    padding: 90px 0;
    background-color: $white;
    border-radius: 30px;
    position: relative !important;

    &__wrap{
        z-index: 2;
    }
    &__form{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        .hidden_checkbox{
            display: none;
        
            &:checked + span{
                background-image: url('../assets/img/icons/check.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &-checkbox{
            min-width: 60px;
            min-height: 60px;
            border-radius: 15px;
            border: 3px solid #ccc;
            display: inline-block;
            margin-right: 16px;
        }

        label{
            margin-top: 30px;
            margin-bottom: 60px;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: .02em;
            color: #666;
            font-family: $text;
            span{
                font-family: $text;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0.02em;
            }
            span a{
                text-decoration: underline;

                &:hover{
                    color: $red;
                }
            }
        }

        .social{
            font-family: $text;
            font-size: 10px;
            line-height: 120%;
            color: #666;
            background-repeat: no-repeat;
            background-size: 36px auto;
            width: 72px;
            height: 63px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background-position-x: center;
            text-decoration: none;
            &.tg{
                background-image: url("../assets/img/icons/telegram_stroke.svg");
            }
            &.wa{
                background-image: url("../assets/img/icons/whatsapp.svg");
            }
        }
    }
    &__input{
        width: 100%;
        max-width: 286px;
        background-color: #EFEFEF;
        outline: none;
        border-radius: 15px;
        height: 60px;
        padding-left: 16px;
        border-color: transparent;
        color: $grey;
        font-family: $text;
        font-size: 20px;

        &:nth-child(2){
            margin: 0 30px;
        }
        &::placeholder{
            color: #666;
            font-family: $text;
            font-size: 20px;
        }
    }
    .heading{
        text-align: center;
    }
    &__getlist{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__get-arrow{
        width: 35px;
        height: 30px;
        background-image: url("../assets/img/icons/arrow_green.svg");
        background-size: containt;
        background-repeat: no-repeat;
    }
    &__get-item{
        display: flex;
        flex: 1;
        max-width: 400px;
        padding: 25.5px 15px;
        border: 3px solid $green;
        border-radius: 15px;
        align-items: center;

        .number{
            color: $green;
            font-family: $heading;
            font-size: 68px;
            position: absolute;
        }
        .text{
            color: $darkBlue;
            font-size: 18px;
            font-family: $text_bold;
            line-height: 140%;
            max-width: 322px;
            margin-left: 48px;
        }   
    }
}

@media screen and (min-width: 320px) and (max-width: 540px){
    .feedback_modal{
        border-radius: 0;

        h2.heading{
            max-width: 300px;
        }

        &__getlist{
            flex-direction: column;
            max-width: 315px;
            margin: 0 auto;
            margin-top: 30px;
            min-height: 252px;
            justify-content: space-between;
        }
        &__get-item{
            max-width: 315px;
            padding: 15px;
            max-height: 96px;
            .text{
                font-size: 16px;
            }
        }
        &__get-arrow{
            transform: rotate(90deg);
        }
        &__form{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            label{
                max-width: 315px;
                margin: 30px auto;
                margin-top: 0;
            }
        }
        &__input-wrap{
            max-width: 315px;
        }
        &__input{
            max-width: 315px;
            margin-bottom: 30px;
            &:nth-child(2){
                margin: 0;
                margin-bottom: 30px;
            }
        }

        .submit-wrapper{
            max-width: 315px;
            display: grid;
            
            grid-template-columns: repeat(8, 40px);
            grid-template-rows: repeat(20, 8px);
            .button{
                grid-column: 1/9;
                grid-row: 1/9;
            }
            .social{
                grid-row: 14/20;
                min-height: 72px;

                &.wa{
                    grid-column: 2/3;
                }
                &.tg{
                    grid-column: 6/7;
                }
            }
        }
    }
}