  .tabs{
      max-width: 350px;
  }
  .tab__item{
        display: flex;
        align-items: center;
        padding: 15px;
        justify-content: space-between;
        border-radius: 3em;
        border: 1px solid $red;
        margin-bottom: 15px;
        max-width: 350px;
        min-width: 330px;
        &.active{
            background-color: $yellow;
            border: none;
        }
    
        &-img_wrap{
            min-width: 60px;
            min-height: 60px;
            border-radius: 50%;
            background-color: $red;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-heading{
            font-family: $text_bold;
            font-size: 24px;
            margin-bottom: 8px;
            line-height: 100%;
            color: $grey;
        }
        &-text{
            font-size: 14px;
            line-height: 100%;
            font-family: $text;
            color: $grey;
        }
    }
    .tab__memo{
        font-family: $text;
        font-size: 12px;
        line-height: 140%;
        color: $grey;
    }

@media screen and (max-width: 1200px){
    .tab__item{
        &-heading{
            font-size: 20px;
        }
        &-text{
            font-size: 12px;
        }
    }
    .tab__memo{
        margin: 15px 0 30px 0;
    }
}