//colors
$black: #000000;
$white: #ffffff;
$grey: #333333;
$yellow: #FDC935;
$transparentBlack_05: rgba(0, 0, 0, 0.05);
$transparentBlack_1: rgba(0, 0, 0, 0.1);
$darkBlue: #132A3E;
$red: #8D191D;


//fonts
$text: 'manrope_regular';
$text_bold: 'manrope_bold';
$text_black: 'manrope_black';
$heading: 'regal-text_bold';