@import "./fonts";
@import "./vars";

@import "./sale";
@import "./header";
@import "./gallery";
@import "./henkaliIs";
@import "./facts";
@import "./digital";
@import "./treasure";
@import "./team";
@import "./franchise";
@import "./finance";
@import "./youget";
@import "./henkali_map";

*{
    box-sizing: border-box;
}
body{
    font-family: $text;
    overflow-x: hidden;
    min-height: 100vh;
    color: $grey;
    background-image: url('../assets/img/henkaly_bg.png');
}
h1,h2,h3,h4,h5,h6{
    font-family: $heading;
}
a{
    text-decoration: none;
}
.text_select-red{
    color: $red;
}
.button{
    padding: 26px 20px;
    border-radius: 15px;
    border: none;
    display: block;
    outline: none;
    background-color: $red;
    text-transform: uppercase;
    max-width: 350px;
    width: 100%;
    height: 72px;
    color: $white;
    font-family: $text_black;
}
.heading{
    color: $darkBlue;
    font-family: $heading;
    line-height: 100%;
    margin-bottom: 30px;
}
h2.heading{
    font-size: 48px;
}
h4.heading{
    font-size: 30px;
}
ul,ol{
    list-style-type: none;
    padding: 0;
    li{
        padding: 0;
        margin: 0;
    }
}
section .container{
    background-color: rgba(255,255,255, .95);
}
.subhead{
    font-family: $text;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: $grey;
}

.frame-content{
    margin-top: 40px;
    border: 1px solid $red;
    padding: 22px;
    border-radius: 15px;
    
    color: $darkBlue;
    font-size: 30px;

    .heading { margin-bottom: 0; }
}