@import "./fonts";
@import "./vars";

@import "./sale";
@import "./header";
@import "./menu";
@import "./gallery";
@import "./henkaliIs";
@import "./facts";
@import "./digital";
@import "./treasure";
@import "./team";
@import "./franchise";
@import "./finance";
@import "./youget";
@import "./henkali_map";
@import "./blog";
@import "./play";
@import "./reviews";
@import "./questions";
@import "./feedback";
@import "./modal";
@import "./footer";
@import "./popup_modal";
@import "./popup_menu";

*{
    box-sizing: border-box;
}
body{
    font-family: $text;
    min-height: 100vh;
    color: $grey;
    background-image: url('../assets/img/henkaly_bg.svg');
    background-repeat: repeat;
}
html, body{
    overflow-x: hidden;
}
html{
    &#popup{
        overflow-y: hidden;
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: $heading;
}
a{
    text-decoration: none;

    &.button:hover{
        text-decoration: none !important;
        color: $white !important;
    }
}
.text_select-red{
    color: $red;
}
.button{
    padding: 0 20px;
    border-radius: 15px;
    border: none;
    display: block;
    outline: none;
    background-color: $red;
    font-size: 20px;
    text-transform: uppercase;
    max-width: 350px;
    width: 100%;
    height: 72px;
    color: $white;
    font-family: $text_black;
}
.heading{
    color: $darkBlue;
    font-family: $heading;
    line-height: 100%;
    margin-bottom: 30px;
}
h2.heading{
    font-size: 48px;
}
h4.heading{
    font-size: 30px;
    line-height: 110%;
}
ul,ol{
    list-style-type: none;
    padding: 0;
    li{
        padding: 0;
        margin: 0;
    }
}
section .container{
    background-color: rgba(255,255,255, .95);
}
.subhead{
    font-family: $text;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: $grey;
}

.frame-content{
    margin-top: 40px;
    border: 1px solid $red;
    padding: 22px;
    border-radius: 15px;
    
    color: $darkBlue;
    font-size: 30px;

    .heading { margin-bottom: 0; }
}
.logo{
    width: 100%;
    max-width: 193px;
    height: auto;
}
@media screen and (max-width: 1200px){
    body{
        background-image: none;
        background-color: $white;
    }
}
@media screen and (min-width: 768px) and (max-width: 1366px){
    body{
        zoom: 75%;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px){
    h2.heading{
        font-size: 32px;
        text-align: center;
        max-width: 315px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    h4.heading{
        font-size: 22px;
    }
    .subhead{
        font-size: 14px;
        max-width: 315px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .button{
        font-size:18px;
        max-width: 315px;
        height: 64px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    h2.heading{
        text-align: center;
    }
    .subhead{
        text-align: center;
    }
}